@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center mt-5">Курсова робота з баз даних</h1>
        <h3 id="title" class="text-center my-5">На тему: №40 Волонтерський осередок</h3>
        <h5 id="title" class="text-center">Виконала: студентка ІС-13, Росновська Ольга</h5>
           
        <p class="lead mt-5 border border-2 border-secondary rounded-2">
            Волонтерський осередок – це неформальне об’єднання громадян для допомоги ЗСУ
            (виготовлення маскувальних сіток і кікімор – маскувального одягу для снайперів; купівля,
            ремонт і фарбування автомобілів). Для діяльності осередку потрібні певні кошти на
            матерію і основу для сіток, нитки для кікімор, автомашини, запчастини, фарбу і паливо
            для автомобілів. Кошти надають пожертводавці, здебільшого члени осередку,
            перераховуючи їх на банківську картку осередку. Для звітності перед пожертводавцями
            <strong>необхідний облік внесків і видатків.</strong> В разі грошового внеску треба обліковувати <strong>дату,
            суму і хто вніс кошти.</strong> Внесок у вигляді куплених матеріалів також має обліковуватись. В
            разі купівлі матеріалів або автомобілю має місце  <strong>видаток коштів і надходження
            матеріальних цінностей у кількісному вимірі.</strong> В разі витрачання матеріальних цінностей
            на виготовлення маскувальних засобів або на авто відбувається <strong>списання цих засобів,
            тобто зменшення їх кількості</strong> . В разі передачі маскувальних засобів чи автомобілів треба
            <strong>обліковувати їх отримувача</strong> (військова частина, підрозділ, відповідальна особа) і <strong>дату
            передачі.</strong>
        </p>
        
    </section>

</main>